* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: orange;
    border-bottom: 1px solid black;
  }


  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }

  .menu{
    width: auto;
  }


  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
  }

  section.posts{
    align-items: center;
    height: auto;
  }

  .logo img{
    width: 20%;
  }

.menu-bt:hover{
  margin-left: 10px;
  margin-right: 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;



}

h3 {
  display: block;
  font-size: 30px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

}

  .hero {
    padding-left: 80px;
    background-color: orange;
    border-bottom: 1px solid black;
  }
  
  .hero h1 {
    font-size: 90px;
    font-weight: bold;
  }
  
  .hero h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .btn-start {
    margin-top: 80px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50px;

    width: 150px;
    height: 30px;
  }
  
  .btn-start:hover {
    color: #000000;
    background-color: #ffffff;
  }

  .posts {
    padding: 40px;
    border-bottom:#000000 1px solid;
  }
  
  .post-grid {
    display: flex;
    justify-content: space-between;

  }
  
  .post {
    flex-basis: calc(50% - 20px);
    margin-bottom: 40px;
  }

  section.posts > h2 {
    margin: 50px;
  }
  .posts .post {
    margin: 50px;
    width: 250px;
  }

  .post img {

    width:20px;
    height: auto;
    margin-right: 10px;
    border-radius: 50px;
  }
  
  .post h3 {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .post p {
    color: #333;
  
  }

  section.news-all{
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  div.sez-left{
    margin-right: 20px;
    padding-left: 100px;
  }
  
  .img-news{
    margin-left: 10px;
  }

  .newsleft{
  
    display: flex;
    width: 900px;
    margin-bottom: 40px;
  }

  .txt-news{
  width: auto;
  margin: auto;
  text-align: justify;
}

  .img-news img{
    width: 100px;
  }

  .author{
    font-size: 20px;
    color: white;
    background-color: rgb(175, 173, 173);
    padding-left: 10px;
    padding-right: 10px;
    border: 2px rgb(220, 217, 217) solid;
    border-radius: 15px;
    margin-left: 20px;
  }
  
  .fa-star{
  color: rgb(234, 234, 53);
  margin-left: 20px;
  }
  
  .fa-bookmark{
    color: rgb(118, 118, 111);
    margin-left: 20px;
  
  }

  .sez-right{
    display: flex;
  }

div.side-bar{
  width: 300px;
  height: 500px
}


.news-right{
  width: 250px;
  height: 400px;
}

.right-arg{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.news-right p{
  width: 120px;

}

h5{
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.interest{
  text-align: center;
  font-size: 20px;
  color: rgb(78, 76, 76);
  background-color: #cbcaca;
  border: 2px #333 solid;
  border-radius: 15px;
  margin: 2px;
  padding: 3px;
  transition: background-color 0.4s ease;
}

.interest:hover{
  color: #fff;
  background-color: #6c6868
}

footer {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colonne {
  width: 20%;
  margin-right: 20px;
}

.colonne:last-child {
  margin-right: 0;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  margin-top: 20px;
}

.email {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.submit {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #555;
}

hr {
  margin: 50px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.copy {
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}
